{
  "presets": [
    "@babel/env",
    "@babel/flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],


  "env": {
    "commonjs": {
      "presets": [
        ["@babel/env", {
          "useBuiltIns": "usage"
        }]
      ]
    },

    "es": {
      "presets": [
        ["@babel/env", {
          "useBuiltIns": "usage",
          "modules": false
        }]
      ]
    }
  }
}
